mat-toolbar{
    background-color: rgb(200, 199, 199);
    margin-top: 5px;
    color: black;
}
button{
    background-color: rgb(200, 199, 199);
    color: black;
    border: 0px;
}
.spacer{
    width: 20px;
}
.select {
    border: none;
    margin-left: 10px;
    
}
.form-select{
    border: none;
    background-color: rgb(200, 199, 199);
    
}