<mat-toolbar>
    <span>WIDGET LIST</span>
    <div class="spacer">
    </div>
    <div class="button">
        <button mat-button (click)="openWidgetForm()">+CREATE</button>
    </div>
</mat-toolbar>
<div class="row">
    <div class="col-4" id="leftbox">
        <mat-tab-group>
            <mat-tab label="Data Source">

            </mat-tab>
            <mat-tab label="Data Service">

            </mat-tab>
            <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                @for (item of items; track item) {
                  <div
                    class="example-box"
                    cdkDrag
                    [cdkDragDisabled]="item.disabled">{{item.value}}</div>
                }
              </div>
               -->
            <mat-tab label="Widget">

            </mat-tab>
        </mat-tab-group>

    </div>
    <div class="col-8" id="rightbox">
        <div class="details">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <table class="dropable">
            <tr>
                <td class="col-4">X-Axis</td>
                <td class="col-8"></td>
            </tr>
            <tr>
                <td class="col-4">Y-Axis</td>
                <td class="col-8"></td>
            </tr>
        </table>
        <div class="graph">
            <app-amchart class="charts"></app-amchart>
        </div>
    </div>
    <div class="button-group d-flex justify-content-end with-border-top">
        <button mat-raised-button color="primary">Save</button>
    </div>
</div>